<section i18n-id="menu item Lottery|id same as anchor without hash" id="lottery"
    class="rs-about style2 modify2 gray-color pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 md-mb-50">
                <div class="sec-title mb-30">
                    <div class="sub-text style4-bg" i18n>Try your luck and WIN!</div>
                    <h2 class="title pb-20" i18n>
                        The daily MetaHash Lottery!
                    </h2>
                    <div class="desc" i18n>
                        Start active forging and generate tickets to win the daily lottery. There is absolutely no risk and
                        everyone can participate. Use your own 1000 MHC
                        or get them for free using the <a href="https://metagather.org/" target="_blank">MetaGather</a>
                        program. To participate, you need to setup <a href="https://metahash.readme.io/docs/metagate-forging-1" target="_blank">MetaGate forging</a>. 
                    </div>
                    <br />

                    <div class="desc" i18n>
                        <div class="total-reward">
                            <span class="prize-text"><img src="../../../assets/images/icons/explosion.png" />Every day
                                MetaHash gives away <img src="../../../assets/images/icons/explosion.png" /></span>
                            <span class="prize-money">
                                174674 MHC
                            </span>
                        </div>

                        <div class="prize first">
                            <div class="trophy-badge">
                                <fa-icon [icon]="faTrophy" class="first"></fa-icon>
                            </div>
                            <div class="reward">
                                <div>62510 MHC</div>
                                <div class="small">~$2188 USD* | 40% share</div>
                            </div>
                        </div>

                        <div class="second-third">
                            <div class="prize second">
                                <div class="trophy-badge">
                                    <fa-icon [icon]="faTrophy" class="second"></fa-icon>
                                </div>
                                <div class="reward">
                                    <div>15627 MHC</div>
                                    <div class="small">~$547 USD* | 10% share</div>
                                </div>
                            </div>
                            <div class="prize third">
                                <div class="trophy-badge">
                                    <fa-icon [icon]="faTrophy" class="third"></fa-icon>
                                </div>
                                <div class="reward">
                                    <div>7813 MHC</div>
                                    <div class="small">~$273 USD* | 5% share</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prize-other">
                        <div>
                            <div>
                                <span><b>4th</b> - 6485 MHC</span>
                                <span>~$227 USD* | 4.15% share</span>
                            </div>
                            <div>
                                <span><b>5th</b> - 5235 MHC</span>
                                <span>~$183 USD* | 3.35% share</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span><b>6th</b> - 100th - 156 MHC</span>
                                <span>~$5.5 USD* | 0.01% share</span>
                            </div>
                            <div>
                                <span><b>101th - 1000th</b> - 31 MHC</span>
                                <span>~$1 USD* | 0.02% share</span>
                            </div>
                        </div>
                    </div>
                    <div class="conversion">
                        * MHC to USD using conversation using market price USD $0.035
                    </div>
                </div>

            </div>
            <div class="col-lg-6 pl-65 md-pl-15">
                <div class="about-img">
                    <img src="./assets/images/metaBoy/good-luck.png" alt="Good luck with the Metahash lottery">
                </div>
            </div>
        </div>
    </div>
</section>