<section>
<div id="why-metahash" class="rs-about pt-60 pb-60 md-pt-70 md-pb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="sec-title mb-50">
                    <div class="sub-text style4-bg">Why MetaHash</div>
                    <h2 class="title pb-20">
                        A Blockchain 4.0 based on the TraceChain protocol
                    </h2>
                    <div class="quote-item">
                        <blockquote class="callout quote">
                            <fa-icon class="start" [icon]="faQuoteLeft"></fa-icon>
                            #MetaHash is a next-generation network based on the Blockchain 4.0 technology for sharing
                            digital assets and a platform for creating and managing decentralized apps and services in
                            real-time.
                            <fa-icon class="end" [icon]="faQuoteRight"></fa-icon>
                            <cite> www.metahash.org</cite>
                        </blockquote>
                    </div>

                    <br /><br />
                    <div class="desc">
                        <span>Technology can be overwhelming at first but it make sense over time. To help you
                            understand, we've listed the 3 main concepts. Each one links to the official
                            documentation.<br />
                            <br /><b>It's up to you to decide if MetaHash would be a good investment, so take some time
                                to read and we hope you will join our community very soon!</b></span>
                    </div>
                </div>

            </div>
            <div class="col-lg-7">
                <div class="mh-why-features md-pt-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 pr-10 pt-40 sm-pt-0 sm-pr-0 sm-pl-0">
                                <div class="features-item orange-bg mb-20">
                                    <a href="https://static.metahash.org/docs/MetaHash_WhitePaper_EN.pdf?v=8"
                                        rel="noreferrer" target="_blank">
                                        <div class="features-icon">
                                            <div class="image-part">
                                                <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
                                                <img class="main-img"
                                                    src="../../../assets/images/mh-why/fast.png" alt="">
                                                <img class="hover-img"
                                                    src="../../../assets/images/mh-why/fast-hover.png" alt="">
                                            </div>
                                        </div>
                                        <div class="services-content">
                                            <div class="services-text">
                                                <h3 class="title">Incredibly fast</h3>
                                            </div>
                                            <div class="services-desc">
                                                <p>
                                                    Validation rate under 3 seconds. Performance is over 50,000 TPS.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="features-item cyan-bg">
                                    <a href="https://medium.com/metahash/network-basics-part-5-multi-pos-consensus-75de8fdf5994"
                                        rel="noreferrer" target="_blank">
                                        <div class="features-icon">
                                            <div class="image-part">
                                                <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
                                                <img class="main-img"
                                                    src="../../../assets/images/mh-why/secure.png" alt="">
                                                <img class="hover-img"
                                                    src="../../../assets/images/mh-why/secure-hover.png" alt="">
                                            </div>
                                        </div>
                                        <div class="services-content">
                                            <div class="services-text">
                                                <h3 class="title">Secure
                                                </h3>
                                            </div>
                                            <div class="services-desc">
                                                <p>
                                                    The MultiPos model is a multilevel-check that provides network
                                                    protection from
                                                    corruption.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 pl-10 sm-pr-0 sm-pl-0 sm-mt-20">
                                <div class="features-item gold-bg mb-20">
                                    <a href="https://news.metahash.org/?id=104" rel="noreferrer" target="_blank">
                                        <div class="features-icon">
                                            <div class="image-part">
                                                <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
                                                <img class="main-img"
                                                    src="../../../assets/images/mh-why/decentralized.png" alt="">
                                                <img class="hover-img"
                                                    src="../../../assets/images/mh-why/decentralized-hover.png" alt="">
                                            </div>
                                        </div>
                                        <div class="services-content">
                                            <div class="services-text">
                                                <h3 class="title">Decentralized</h3>
                                            </div>
                                            <div class="services-desc">
                                                <p>
                                                    Whenever a new block is added to the blockchain, every computer on
                                                    the
                                                    network
                                                    updates its blockchain to reflect the change.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="features-item purple-bg">
                                    <div class="features-icon">
                                        <div class="image-part">
                                            <img class="main-img"
                                                src="../../../assets/images/mh-why/free.png" alt="">
                                            <img class="hover-img"
                                                src="../../../assets/images/mh-why/free-hover.png" alt="">
                                        </div>
                                    </div>
                                    <div class="services-content">
                                        <div class="services-text">
                                            <h3 class="title">Zero network fees</h3>
                                        </div>
                                        <div class="services-desc">
                                            <p>
                                                MetHash nodes take care of the transaction for you!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>