<div class="offwrap"></div>

<div class="main-content" (scroll)="onWindowScroll();">
    <app-header-main></app-header-main>
    <app-splash></app-splash>
    <app-metahash-why></app-metahash-why>
    <app-metahash-buy></app-metahash-buy>
    <app-metahash-wallet></app-metahash-wallet>
    <app-metahash-forging></app-metahash-forging>
    <app-metahash-faq></app-metahash-faq>
</div>

<app-footer></app-footer>

<!-- start scrollUp  -->
<div id="scrollUp" class="orange-color">
    <i class="fa fa-angle-up"></i>
</div>
<!-- End scrollUp  -->