<!-- Menu Start -->
<div id="navbar" class="menu-area menu-sticky">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="logo-part">
                    <a href="#" style="color: #084379;">
                        <fa-icon [icon]="faDoorOpen"></fa-icon>
                        <span style="padding-left: 10px; font-weight: 600;">MHC.ZONE</span>
                    </a>
                </div>
                <div class="mobile-menu">
                    <a href="#" class="rs-menu-toggle rs-menu-toggle-close secondary">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="col-lg-10 text-right">
                <div class="rs-menu-area">
                    <div class="main-menu">
                        <nav class="rs-menu pr-86 md-pr-0">
                            <ul id="onepage-menu" class="nav-menu">
                                <li> <a href="#rs-header">Home</a></li>
                                <li><a href="#why-metahash">Why MetaHash</a></li>
                                <li><a href="#where-to-buy">Where to buy</a></li>
                                <li><a href="#metawallet">MetaWallet</a></li>
                                <li><a href="#faq">FAQ</a></li>
                            </ul> <!-- //.nav-menu -->
                        </nav>
                    </div> <!-- //.main-menu -->
                    <div class="expand-btn-inner search-icon hidden-md">
                        <ul>

                            <li>
                                <a id="nav-expander" class="humburger nav-expander" href="#" (click)="toggleCanvasMenu()">
                                    <span class="dot1"></span>
                                    <span class="dot2"></span>
                                    <span class="dot3"></span>
                                    <span class="dot4"></span>
                                    <span class="dot5"></span>
                                    <span class="dot6"></span>
                                    <span class="dot7"></span>
                                    <span class="dot8"></span>
                                    <span class="dot9"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->