<div id="navbar" class="menu-area menu-sticky">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="logo-part">
                    <a href="#" style="color: #084379;">
                        <fa-icon [icon]="faDoorOpen"></fa-icon>
                        <span style="padding-left: 10px; font-weight: 600;">MHC.ZONE</span>
                    </a>
                </div>
                <div class="mobile-menu">
                    <!-- <div class="lang-menu">
                        <div class="selected-lang">
                            <img src="./assets/images/flags/{{currentLanguage.code}}.png"  />
                        </div>
                        <ul>
                        <ng-template ngFor let-lang [ngForOf]="languages">
                            <li *ngIf="lang.code !== currentLanguage">
                                <img src="./assets/images/flags/{{lang.code}}.png" />
                              <a href="/{{lang.code}}/">{{lang.label}}</a>
                            </li>

                          </ng-template>
                        </ul>
                    </div> -->

                    <a href="#" (click)="toggleMobileMenu()" class="rs-menu-toggle rs-menu-toggle-close secondary">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </a>
                </div>
            </div>
            <div class="col-lg-10 text-right">
                <div class="rs-menu-area">
                    <div class="main-menu">
                        <nav class="rs-menu pr-86 md-pr-0" style="display: flex;"
                            [ngClass]="openMobileMenu ? 'rs-menu-open' : 'rs-menu-close'">
                            <ul id="onepage-menu" class="nav-menu">
                                <li><a i18n-href="menu item home|Used for anchors" href="#home"><ng-container i18n="menu item home|display value">Home</ng-container></a></li>
                                <li><a i18n-href="menu item Why MetaHash|Used for anchors" href="#why-metahash" i18n="menu item Why MetaHash|display value">Why MetaHash</a></li>
                                <li><a i18n-href="menu item Where to buy|Used for anchors" href="#where-to-buy" i18n="menu item Where to buy|display value">Where to buy</a></li>
                                <li><a i18n-href="menu item MetaWallet|Used for anchors" href="#metawallet" i18n="menu item MetaWallet|display value">MetaWallet</a></li>
                                <li><a i18n-href="menu item EarnMoneyInYourSleep|Used for anchors" href="#earn-money-in-your-sleep" i18n="menu item EarnMoneyInYourSleep|display value">Earn money in your sleep</a></li>
                                <li><a i18n-href="menu item Lottery|Used for anchors" href="#lottery" i18n="menu item Lottery|display value">Lottery</a></li>
                                <li><a i18n-href="menu item FAQ|Used for anchors" href="#faq" i18n="menu item FAQ|display value">FAQ</a></li>
                            </ul> <!-- //.nav-menu -->

                        </nav>
                    </div> <!-- //.main-menu -->
                    <!-- <div class="lang-menu">
                        <div class="selected-lang">
                            <img src="./assets/images/flags/{{currentLanguage.code}}.png"  />
                            <span>{{currentLanguage.label}} </span>
                        </div>
                        <ul>
                        <ng-template ngFor let-lang [ngForOf]="languages">
                            <li *ngIf="lang.code !== currentLanguage">
                                <img src="./assets/images/flags/{{lang.code}}.png" />
                              <a href="/{{lang.code}}/">{{lang.label}}</a>
                            </li>

                          </ng-template>
                        </ul>
                    </div> -->
                    <div class="expand-btn-inner search-icon hidden-md">
                        <ul>
                            <li>
                                <a id="nav-expander" class="humburger nav-expander" href="#"
                                    (click)="toggleCanvasMenu()">
                                    <span class="dot1"></span>
                                    <span class="dot2"></span>
                                    <span class="dot3"></span>
                                    <span class="dot4"></span>
                                    <span class="dot5"></span>
                                    <span class="dot6"></span>
                                    <span class="dot7"></span>
                                    <span class="dot8"></span>
                                    <span class="dot9"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>