<div class="rs-banner style3 modify2">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-6 md-mb-50 order-last">
                <app-splash-right></app-splash-right>
            </div>
            <div class="col-lg-6">
                <app-splash-left></app-splash-left>
            </div>
        </div>
    </div>
    <div class="rs-animation">
        <img class="dance3" src="assets/images/splash/metahash-dots.png" alt="metahash dots">
    </div>
</div>
