<div id="why-metahash" class="rs-services style2 modify1 pt-40 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title2 text-center mb-45">
            <span class="sub-text gold-color">A quick overview</span>
            <h2 class="title">
                Why choose MetaHash
            </h2>
            <div class="heading-line"></div>

            <span>
                <blockquote><fa-icon [icon]="faQuoteRight"></fa-icon> #MetaHash is a next-generation network based on the Blockchain 4.0 technology for sharing
                    digital assets and a platform for creating and managing decentralized apps and services in
                    real-time.</blockquote>
            </span>
            <div class="desc">
                <span>This official technical quote might be a bit overwhelming at first but will make sense over
                    time.<br />
                    <b>It's up to you to decide if MetaHash would be a good investment for you</b>. Technology changes
                    quickly over time so we've listed the 3 main concepts. These link to the official documentation,
                    educate yourself and we hope you will join our community very soon!</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="flip-box-inner">
                    <div class="flip-box-wrap">
                        <div class="front-part">
                            <div class="front-content-part purple-bg">
                                <div class="front-icon-part">
                                    <div class="icon-part">
                                        <img src="assets/images/mh-network/rocket.png" alt="">
                                    </div>
                                </div>
                                <div class="front-title-part">
                                    <h3 class="title"><a
                                            href="https://static.metahash.org/docs/MetaHash_WhitePaper_EN.pdf?v=8"
                                            target="_blank" rel="noreferrer">Fast</a></h3>
                                </div>
                                <div class="front-desc-part">
                                    <p>
                                        Validation rate under 3 seconds. Performance is over 50,000 TPS
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="back-front purple-bg">
                            <div class="back-front-content">
                                <div class="back-title-part">
                                    <h3 class="back-title">Fast</h3>
                                </div>
                                <div class="back-desc-part">
                                    <p class="back-desc">100,000 transactions per second on each node. Unprecedented
                                        speed and decentralization of the #TraceChain network make #MetaHash the
                                        flagship of Blockchain</p>
                                </div>
                                <div class="back-btn-part">
                                    <a class="readon view-more"
                                        href="https://static.metahash.org/docs/MetaHash_WhitePaper_EN.pdf?v=8"
                                        target="_blank" rel="noreferrer">Download whitepaper</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 md-mb-30">
                <div class="flip-box-inner">
                    <div class="flip-box-wrap">
                        <div class="front-part">
                            <div class="front-content-part gold-bg">
                                <div class="front-icon-part">
                                    <div class="icon-part">
                                        <img src="assets/images/mh-network/layers.png" alt="">
                                    </div>
                                </div>
                                <div class="front-title-part">
                                    <h3 class="title"><a
                                            href="https://medium.com/metahash/network-basics-part-5-multi-pos-consensus-75de8fdf5994"
                                            rel="noreferrer" target="_blank">Secure</a></h3>
                                </div>
                                <div class="front-desc-part">
                                    <p>
                                        Protected by multiPoS consensus algorithm
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="back-front gold-bg">
                            <div class="back-front-content">
                                <div class="back-title-part">
                                    <h3 class="back-title">Secure</h3>
                                </div>
                                <div class="back-desc-part">
                                    <p class="back-desc">The MultiPos model is a multilevel-check that provides network
                                        protection from corruption.</p>
                                </div>
                                <div class="back-btn-part">
                                    <a class="readon view-more"
                                        href="https://medium.com/metahash/network-basics-part-5-multi-pos-consensus-75de8fdf5994"
                                        rel="noreferrer" target="_blank">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="flip-box-inner">
                    <div class="flip-box-wrap">
                        <div class="front-part">
                            <div class="front-content-part blue-bg">
                                <div class="front-icon-part">
                                    <div class="icon-part">
                                        <img src="assets/images/mh-network/nuclear.png" alt="">
                                    </div>
                                </div>
                                <div class="front-title-part">
                                    <h3 class="title"><a href="https://news.metahash.org/?id=104" rel="noreferrer"
                                            target="_blank">Decentralized</a></h3>
                                </div>
                                <div class="front-desc-part">
                                    <p>
                                        Anyone can add transaction nodes to the #MetaHash network!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="back-front blue-bg">
                            <div class="back-front-content">
                                <div class="back-title-part">
                                    <h3 class="back-title">Decentralized</h3>
                                </div>
                                <div class="back-desc-part">
                                    <p class="back-desc">The blockchain is copied and spread across a network of
                                        computers. Whenever a new block is added to the blockchain, every computer on
                                        the network updates its blockchain to reflect the change.</p>
                                </div>
                                <div class="back-btn-part">
                                    <a class="readon view-more" href="https://news.metahash.org/?id=104"
                                        rel="noreferrer" target="_blank">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Section End -->