<div id="faq" class="rs-why-choose style2 gray-color rs-rain-animate pt-60 pb-120 md-pt-70 md-pb-80">
    <div class="container">
        <div class="row">
        
            <div class="col-xl-6 col-lg-7 md-mb-30">
                <div class="sec-title mb-40">
                    <div class="sub-text style4-bg left">Frequently asked questions</div>
                    <h2 class="title pb-20">
                        Crypto exchange
                    </h2>
                    <div class="faq faq-dark">
                        <span class="question">
                        <i class="fas fa-question-circle"></i> Does it matter what crypto exchange I use?</span>
                        <span class="answer">
                         It doesn't matter what exchange you use as you will always be able to transfer crypto between exchanges. Just keep in mind that sending coins from an exchange wallet to another wallet most probably will involve a withdrawal fee.
                        </span>
                    </div>
                    <div class="faq faq-dark">
                        <span class="question">
                        <i class="fas fa-question-circle"></i> What is coin staking?</span>
                        <span class="answer">
                         Coin staking on an exchange is similar than coin delegation with your own wallet. Because it's a service offered by the exchange and they also want to make money, their reward will be less than the one you would receive with coin delegation. It's a good alternative for people who have trust in the exchange and don't want to be involved in extra configuration.
                        </span>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 md-mb-30">
                <div class="sec-title mb-40">
                    <div class="sub-text style4-bg left">Frequently asked questions</div>
                    <h2 class="title pb-20">
                        Forging and delegation
                    </h2>
                    <div class="faq faq-hint">
                    <span>Make sure to also check the official <a href="https://metahash.readme.io/docs/metagate-forging-faq-1" rel="noreferrer" target="_blank">Metahash Forging FAQ</a>!</span>
                    
                    </div>
                    <div class="faq">
                        <span class="question">
                        <i class="fas fa-question-circle"></i> What is the difference between MHC wallet forging and coin delegation?</span>
                        <span class="answer">
                         With wallet forging, you take part in a daily lottery where an amount of MHC will be randomly distributed between forgers. With active wallet forging, you have to stay online at least for 4h a day to generate lottery tickets and have at least 1000MHC available. With passive forging, you don't have to stay online and you can participate with 100MHC. <a href="https://metahash.readme.io/docs/metagate-forging-1" rel="noreferrer" target="_blank">Read more about forging</a>
                         <br />
                         Coin delegation is different as you are sure you will receive a reward. You need a minimum of 512 MHC to start delegation. You do not have to be online after you delegated your coins. <a href="https://metahash.readme.io/docs/delegation-of-the-coins-1">Read more about delegation</a>
                        </span>
                    </div>
                    <div class="faq">
                        <span class="question">
                        <i class="fas fa-question-circle"></i> Can I lose my coins? Are my coins at risk?</span>
                        <span class="answer">
                         When you take part in a forging / delegation process you will not lose your coins. They are frozen in your wallet but you still own them, they are in your wallet but you just cannot use them in any other transactions. Make sure to only use the official applications from <a href="https://www.metagate.org" target="_blank">https://www.metagate.org</a>. <b>Also keep an eye out for scammers</b>, do not share any wallet or account details with anyone.
                        </span>
                    </div>
                    <div class="faq">
                        <span class="question">
                        <i class="fas fa-question-circle"></i> What are server rewards?</span>
                        <span class="answer">
                         With coin delegation, you receive a daily reward from the MetaHash network. The server also receives a reward and they can give you part of that reward as well. You would normally see this as part of the server description in the MetaGate #MetaForging application server list.
                        </span>
                    </div>
                    <div class="faq">
                        <span class="question">
                        <i class="fas fa-question-circle"></i> Why would I use coin delegation over staking on an exchange like CEX.IO?</span>
                        <span class="answer">
                         With coin delegation, your profits will be higher and the payout is daily. You would need to set it up yourself but the ROI (Return of Investment) is around 30%. The benefit of managing your coins in your own #MetaWallet is more secure than leaving them on an exchange (in case they get hacked).<br />
                         Staking on CEX.IO is similar but they provide it automatically for you with a monthly payout. You don't have to do anything, just leave your coins on the CEX.IO exchange.
                         Staking will give your a ROI of 20% on an annual basis. <a href="https://earn.cex.io/staking">Read more about CEX.IO staking</a>
                        </span>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="line-inner">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>