<section id="rs-about" class="rs-about bg4 pt-80 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title2 text-center mb-45">
            <span class="sub-text gold-color">Make money while you sleep</span>
            <h2 class="title">
               Forging and delegation
            </h2>
            
            <div class="heading-line"></div>
            <div class="desc">
                If you have your MetaHash coins in a MetaWallet, you can generate a passive income. You need to use the official <a href="https://www.metahash.org/" rel="noreferrer" target="_blank">MetaGate</a> application. Try your luck with the forging lottery or use coin delegation to receive a daily reward from the MHC network.
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 md-mb-50">
                <div class="images">
                   <img src="../../assets/images/metaBoy/savings-pig.png" alt=""> 
                </div> 
            </div>
            <div class="col-lg-6 pl-60 md-pl-15">
                <div class="contact-wrap">
                    <div class="sec-title mb-30">
                        <div class="sub-text style2">Two types of passive income</div>
                        <h2 class="title pb-38">
                            Forging
                        </h2>
                        <div class="desc pb-35">
                           To take part in forging, you only need 100 coins for passive and 1000 coins to take part in active forging. Active forging requires you to keep the MetaGate application open for 4-hours to create a lottery ticket. Read through the <a href="https://metahash.readme.io/docs/metagate-forging-1" rel="noreferrer" target="_blank">official documentation</a> to learn more about lottery forging. 
                        </div>
                       
                         <h2 class="title pb-38">
                            Coin delegation
                        </h2>
                         <div class="desc pb-35">
                           With delegation, you would freeze any amount of coins (minimum of 512 coins) to delegate to a server node. Don't worry, you still own the coins and you are guaranteed to get rewarded for doing this. You are rewarded by the MHC network and by the server node, you could expect an annual yield of 30%. Head over to the <a href="https://metahash.readme.io/docs/delegation-of-the-coins-1" rel="noreferrer" target="_blank">official documentation</a> to start delegation. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>