<section id="where-to-buy" class="rs-pricing pt-40 pb-120 md-pt-80 md-pb-80 white-bg" >
    <div class="container">
        <div class="sec-title2 text-center mb-45">
            <span class="sub-text gold-color">Crypto exchanges</span>
            <h2 class="title">
               Where to buy #MHC
               
            </h2>
            
            <div class="heading-line"></div>
            <div class="desc">
                As with all Crypto, you have to purchase through an official exchange. Prepare for a verification process to be able to fund your account. Once you have money in your account, you can buy your MetaHash coins. For every MHC compatible exchange, we have created a tutorial to make the process easy to follow. These are the current exchanges that sell MHC.
            </div>
        </div>
        
        
       <div class="row">
           <div class="col-lg-4 md-mb-50">
               <div class="pricing-table">
                   <div class="pricing-icon">
                       <img src="assets/images/exchanges/kucoin-logo.png" alt="Kucoin exchange">
                   </div>
                   <div class="pricing-table-price">
                        <div class="pricing-table-bags">
                            
                            <span class="table-period">Widest range of crypto with small fees</span>
                        </div>
                   </div>
                   <div class="pricing-table-body">
                       <ul>
                           <li><i class="fa fa-check info"></i><span>Allowed in the US</span></li>
                           <li><i class="fa fa-smile info"></i><span>Withdrawal fee 20 MHC</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">Charged when you want to transfer MHC from the exchange wallet to another wallet</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                           </li>
                           <li><i class="fa fa-smile info"></i><span>Transaction fee 0.10% - 0.10%</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">An exchange fee is charged when buying (maker fee) and when selling (taker fee)</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                           </li>
                           <li><i class="fa fa-times info"></i><span>Staking</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">Reward for leaving cryptocurrencies on the exchange</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                           </li>
                           <li><span>Founded in 2017, China</span></li>
                       </ul>
                   </div>
                   <div class="btn-part">
                       <a class="readon buy-now" href="kucoin.html">View instructions</a>
                   </div>
               </div>
           </div>
           <div class="col-lg-4 md-mb-50">
               <div class="pricing-table">
                   <div class="pricing-icon">
                       <img src="assets/images/exchanges/cex-io-logo.png" alt="Cex.io exchange">
                   </div>
                   <div class="pricing-table-price">
                        <div class="pricing-table-bags">
                           
                            <span class="table-period">Best for beginners but high fees</span>
                        </div>
                   </div>
                   <div class="pricing-table-body">
                       <ul>
                           <li><i class="fa fa-check info"></i><span>Allowed in the US</span></li>
                           <li><i class="fa fa-check info"></i><span>Withdrawal fee 25 MHC</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">Charged when you want to transfer MHC from the exchange wallet to another wallet</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                           </li>
                           <li><i class="fa fa-meh info"></i><span>Transaction fee 0.25% - 0.16%</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">An exchange fee is charged when buying (maker fee) and when selling (taker fee)</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                           </li>
                           <li><i class="fa fa-check info"></i><span>Staking</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">Reward for leaving cryptocurrencies on the exchange. CEX.IO gives a 20% annual staking reward for MHC and pays this monthly.</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                           </li>
                           <li><span>Founded in 2013, United Kingdom</span></li>
                       </ul>
                   </div>
                   <div class="btn-part">
                        <a [routerLink]="['/exchanges']" [fragment]="'cexio'" class="readon buy-now">View instructions</a>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">
               <div class="pricing-table">
                   <div class="pricing-icon">
                       <img src="assets/images/exchanges/bitforex-logo.png" alt="">
                   </div>
                    <div class="pricing-table-price">
                         <div class="pricing-table-bags">
                           
                             <span class="table-period">Good range of crypto and small fees</span>
                         </div>
                    </div>
                   <div class="pricing-table-body">
                       <ul>
                            <li><i class="fa fa-check info"></i><span>Allowed in the US</span></li>
                            <li><i class="fa fa-smile info"></i><span>Withdrawal fee 50 MHC</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">Charged when you want to transfer MHC from the exchange wallet to another wallet</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                           </li>
                           <li><i class="fa fa-smile info"></i><span>Transaction fee 0.10% - 0.10%</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">An exchange fee is charged when buying (maker fee) and when selling (taker fee)</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                           </li>
                            <li><i class="fa fa-times info"></i><span>Staking</span>
                                <div class="toooltip">
                                    <span class="toooltip toooltiptext">Reward for leaving cryptocurrencies on the exchange</span>
                                    <i class="fas fa-info-circle"></i>
                                </div>
                            </li>
                            <li><span>Founded in 2018, Singapore</span></li>
                       </ul>
                   </div>
                   <div class="btn-part">
                       <a class="readon buy-now" href="#">Soon!</a>
                   </div>
               </div>
           </div>
       </div>
    </div>
</section>