<div class="rs-about style2 modify1 pt-60 pb-60 md-pt-70 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 hidden-md">
                <div class="images">
                   <img src="./assets/images/metaBoy/mountain.png" alt=""> 
                </div> 
            </div>
            <div class="col-lg-6 pl-60 md-pl-15">
                <div class="sec-title mb-30">
                    <div class="sub-text style4-bg" i18n>Meet the community!</div>
                    <h2 class="title pb-20" i18n>
                        Join us on Telegram
                    </h2>
                    <div class="desc" i18n>
                        As a community, we are most active on Telegram. Meet other MHC enthusiasts and stay up to date... Stay up to date about any latest development directly from the MetaHash team! 
                        <br/>
                        We are looking forward to meet you!
                     </div>
                </div>
               <div class="rs-skillbar style1 home4">
                   <div class="cl-skill-bar">
                      <span class="skillbar-title">MetaHash International</span>
                      <div class="channel">
                        <fa-icon [icon]="faTelegramPlane"></fa-icon>
                        <a href="https://t.me/metahash_eng" target="_blank">https://t.me/metahash_eng</a>
                      </div>
                      <span class="skillbar-title">MHC | Trading Group | Price chat</span>
                      <div class="channel">
                        <fa-icon [icon]="faTelegramPlane"></fa-icon>
                        <a href="https://t.me/mhcpricechat" target="_blank">https://t.me/mhcpricechat</a>
                      </div>
                      <span class="skillbar-title">#MetaHash node Support</span>
                      <div class="channel">
                        <fa-icon [icon]="faTelegramPlane"></fa-icon>
                        <a href="https://t.me/wearenodes" target="_blank">https://t.me/wearenodes</a>

                      </div> 
                  </div>
               </div>
            </div>
        </div>
    </div>
</div>