<section i18n-id="menu item MetaWallet|id same as anchor without hash"  id="metawallet" class="rs-about style2 modify2 gray-color pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title2 text-center mb-45">
            <span class="sub-text gold-color" i18n>Keep your coins safe!</span>
            <h2 class="title" i18n>
                Official #MetaWallet
            </h2>

            <div class="heading-line"></div>
            <div class="desc" i18n>
                When you got your bag of MHC, it is a good idea to transfer your coins from the crypto exchange to your
                personal MetaWallet. If you keep your coins on the exchange you might risk loosing them in case the
                exchange gets hacked.
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 md-mb-50">
                <div class="sec-title mb-30">
                    <div class="sub-text style4-bg" i18n>The MetaGate MetaWallet</div>
                    <h2 class="title pb-20" i18n>
                        Desktop wallet MetaGate
                    </h2>
                    <div class="desc" i18n>
                        To create a wallet, you need to download the official <a href="https://www.metahash.org"
                            target="_blank">MetaGate application</a>. Then follow the official documentation to start <a
                            href="https://metahash.readme.io/docs/what-is-metawallet" target="_blank">creating a new
                            wallet</a>.
                    </div>
                    <br />
                    <div class="desc" i18n>
                        Once you have your wallet, you can use your exchange to withdraw MHC to your new MetaWallet
                        address. There is a small withdrawal fee that you'll have to pay depending on the exchange you
                        are using.
                    </div>
                    <br />
                    <div class="desc" i18n>
                        Now that you have your coins on your own wallet, lets make these coins work for you and get you
                        some rewards!
                    </div>
                    <br />
                    <div class="faq faq-warning" i18n>
                        <span>Make sure to backup your wallet <b>private key</b> and your <b>password</b>. You need both
                            to restore a wallet! Without them you are at risk of losing your coins.</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 pl-65 md-pl-15">
                <div class="about-img">
                    <img src="./assets/images/metaBoy/money-crusher.png" alt="MetaBoy money crusher">
                </div>
            </div>
        </div>

        <div class="row pt-60 md-pt-60">
            <div class="col-lg-6 md-mb-50">
                <div class="about-img">
                    <img src="./assets/images/wallet/mhconnect-mobile.png" alt="MHConnect application">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15">
                <div class="sec-title mb-30">
                    <div class="sub-text style4-bg" i18n>The MHConnect Wallet</div>
                    <h2 class="title pb-20" i18n>
                        Phone wallet MHConnect
                    </h2>
                    <div class="desc" i18n>
                        The community created an easy way to manage your digital assets right from your phone. Too lazy
                        to turn on your computer and open the MetaGate application to consult your balance? Then this is
                        absolutely for you!
                    </div>
                    <div class="desc" i18n>
                        MHConnect is actively being developed and maintained by a superb team!
                        You may even use the application in your own language as it supports more than 13 languages!
                    </div>
                    <div class="desc" i18n>
                        The key features are all there, it does what you expect it to do for a mobile wallet. It also
                        supports delegation and if that's not enough, you can even auto delegate!
                    </div>

                    <div class="mention">
                        <div class="contribution">
                            <span i18n>Lead development by Joseph (@jwmdev)</span>
                            <span i18n>Coordination and support by James Flame (@JamesFlame)</span>
                        </div>
                    </div>

                    <div class="download">
                        <div class="ios">
                            <a rel="noreferrer" target="_blank" href="https://apps.apple.com/us/app/mhconnect/id1563606290?itsct=apps_box_badge&amp;itscg=30200"
                                style="display: inline-block;"><img src="./assets/images/wallet/ios-download.png"
                                    alt="Download on the App Store" style="width: 195px; height: 65px;"></a>
                        </div>
                        <div class="android">
                            <a rel="noreferrer" target="_blank"
                                href='https://play.google.com/store/apps/details?id=watch.mhc.metawallet&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                                    alt='Get it on Google Play' src='./assets/images/wallet/android-download.png'
                                    style="width: 220px; height: 65px;" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>