<nav class="right_menu_togle">
    <div class="close-btn">
        <div class="nav-link">
            <a id="nav-close" class="humburger nav-expander" (click)="toggleCanvasMenu()">
                <span class="dot1"></span>
                <span class="dot2"></span>
                <span class="dot3"></span>
                <span class="dot4"></span>
                <span class="dot5"></span>
                <span class="dot6"></span>
                <span class="dot7"></span>
                <span class="dot8"></span>
                <span class="dot9"></span>
            </a>
        </div>
    </div>
    <div class="canvas-logo">
        <div style="color: #084379;">
            <fa-icon [icon]="faDoorOpen"></fa-icon>
            <span style="padding-left: 10px; font-weight: 600;">MHC.ZONE</span>
        </div>
    </div>
    <div class="offcanvas-text" i18n>
        <p>Progress is impossible without change, and those who cannot change their minds cannot change anything! We are always looking for ideas to improve this website. If you would like to
            contribute please use any of the following methods to contact us!</p>
    </div>
    <div class="canvas-contact">
        <div class="address-area">
            <div class="address-list">
                <div class="info-icon">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </div>
                <div class="info-content">
                    <h4 class="title">Github</h4>
                    <em><a href="https://github.com/jvanderbiest/mhc.zone" rel="noreferrer"
                            target="_blank">https://github.com/jvanderbiest/mhc.zone</a></em>
                </div>
            </div>
            <div class="address-list">
                <div class="info-icon">
                    <fa-icon [icon]="faTelegramPlane"></fa-icon>
                </div>
                <div class="info-content">
                    <h4 class="title">Telegram</h4>
                    <em><a href="https://t.me/metahashinfo" rel="noreferrer"
                            target="_blank">https://t.me/metahashinfo</a></em>
                </div>
            </div>
            <div class="address-list">
                <div class="info-icon">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </div>
                <div class="info-content">
                    <h4 class="title">Twitter</h4>
                    <em><a href="https://twitter.com/InfoMetahash" rel="noreferrer"
                            target="_blank">@InfoMetaHash</a></em>
                </div>
            </div>
        </div>
    </div>
    <div class="meta-hash-logo">
        <img src="./assets/images/mh/metahash.png" />
    </div>
</nav>