<div id="cexio" class="rs-services style2 modify1 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title2 text-center mb-45">
            <span class="sub-text gold-color">Buying MetaHash Coins (MHC)</span>
            <h2 class="title">
                Buy on CEX.IO exchange
            </h2>
            <div class="heading-line"></div>

            <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                1. Create an account
            </h2>
            <span class="tutorial">Head over to <a href="https://www.cex.io" target="_blank">CEX.IO</a> and create a new
                account. During that process, they will ask you for identification details. This is a normal procedure
                and it's in place to avoid fraud and other potentially illegal activities. So, nothing to worry about as
                it's a standard procedure that would take you a couple of minutes extra.</span>

            <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                2. Fund your account
            </h2>
            <span class="tutorial">Login to <a href="https://www.cex.io" target="_blank">CEX.IO</a> and look out for a
                "Deposit" button. We want to transfer some FIAT currency (USD, EUR, GBP, RUB) to our account. Depending
                on your location, you should see similar options to deposit. Make sure you deposit the FIAT that is
                supported as trading pairs for MHC. For instance USD/MHC is a trading pair, so you are able to buy MHC
                with US Dollars.</span>
            <div>
                <div class="image cex-deposit"></div>
            </div>

            <div>
                <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                    3. Buy MHC
                </h2>
                <span class="tutorial">Select the trading pair that you are interested in. If you check under the chart,
                    there is an option to buy MHC. There are 3 different ways to buy. Limit and Market we will cover,
                    margin trading is too advanced and out of scope.</span>
                <div>
                    <div class="image cex-market"></div>
                </div>
                <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                    3.1. Limit Buy
                </h2>
                <span class="tutorial">Use this method if you want to buy MHC for a specific price. Once the price is
                    reached and someone is willing to sell at that price, your order will execute.</span>
                <div>
                    <div class="image cex-buy-limit"></div>
                </div>
                <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                    3.2. Market Buy
                </h2>
                <span class="tutorial">Use this method if you want to buy MHC for the current market price. Your order
                    will be fulfilled instantly. Market orders are used when certainty of execution is a priority over
                    the price of execution.</span>
                <div>
                    <div class="image cex-buy-market"></div>
                </div>
            </div>

            <div>
                <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                    Congratulations!
                </h2>
                <span class="tutorial">Welcome to the MHC family. Please join us on social media so you can follow up on
                    the latest news on MetaHash!</span>
                <div>
                    <div class="image metaboy-celebrations"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="kucoin" class="rs-services style2 modify1 pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="sec-title2 text-center mb-45">
            <span class="sub-text gold-color">Buying MetaHash Coins (MHC)</span>
            <h2 class="title">
                Buy on kucoin exchange
            </h2>
            <div class="heading-line"></div>

            <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                1. Create an account
            </h2>
            <span class="tutorial">Head over to <a href="https://www.kucoin.com"
                    target="_blank">https://www.kucoin.com</a> and create a new account. Creating an account is a super
                fast process.</span>

            <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                2. Fund your account
            </h2>
            <span class="tutorial">Login to <a href="https://www.kucoin.com" target="_blank">https://www.kucoin.com</a>
                and look out for a "Buy Crypto" button. Now the best thing to do is to spend money and buy some BTC as
                BTC is a trading pair for MHC (you can buy MHC with BTC). Another option that also works is ETH or
                USDT.</span>
            <div>
                <img src="assets/images/exchanges/kucoin/deposit.png" />
            </div>

            <div>
                <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                    3. Buy MHC
                </h2>
                <span class="tutorial">Now that you have some crypto to trade, lets make it worth something and convert
                    it into MHC, head over to "Spot trading". Select a trading pair by first filtering on MHC and then
                    selecting the pair that you bought crypto for.</span>
                <div>
                    <img src="assets/images/exchanges/kucoin/spot-trading.png" />
                </div>
                <div>
                    <img src="assets/images/exchanges/kucoin/select-trading-pair.png" />
                </div>

                <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                    3.1. Limit Buy
                </h2>
                <span class="tutorial">Use this method if you want to buy MHC for a specific price. Once the price is
                    reached and someone is willing to sell at that price, your order will execute.</span>
                <div>
                    <img src="assets/images/exchanges/kucoin/buy-crypto.png" />
                </div>
                <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                    3.2. Market Buy
                </h2>
                <span class="tutorial">Use this method if you want to buy MHC for the current market price. Your order
                    will be fulfilled instantly. Market orders are used when certainty of execution is a priority over
                    the price of execution.</span>
                <div>
                    <img src="assets/images/exchanges/kucoin/buy-crypto.png" />
                </div>
            </div>

            <div>
                <h2 class="title" style="margin-left: 0; text-align: initial; width: auto; max-width: 100%;">
                    Congratulations!
                </h2>
                <span class="tutorial">Welcome to the MHC family. Please join us on social media so you can follow up on
                    the latest news on MetaHash!</span>
                <div>
                    <img src="assets/images/metaBoy/celebration.png" />
                </div>
            </div>
        </div>
    </div>