<!--Full width header Start-->
<div class="full-width-header">
    <!--Header Start-->
    <header i18n-id="menu item Home|id same as anchor without hash"  id="home" class="rs-header style3 modify1 header-transparent">
        <app-header-menu></app-header-menu>
    </header>
    <!--Header End-->

    <app-side-nav [sidenavTemplateRef]="canvasMenu" [navWidth]="500" [duration]="0.4">
    </app-side-nav>

    <ng-template #canvasMenu>
        <app-canvas-menu></app-canvas-menu>
    </ng-template>

</div>